src/spd-notification-worker/src/main/resources/kofax.spd.metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BatchID" type="xs:string" />
                            <xs:element name="CRCProgramArea" type="xs:string" />
                            <xs:element name="FaxReceivedDate" type="xs:string" />
                            <xs:element name="ImportDate" type="xs:string" />
                            <xs:element name="ImportID" type="xs:string" />
                            <xs:element name="OriginatingNumber" type="xs:string" />
                            <xs:element name="ProgramType" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DocumentData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="externalFile" type="xs:string" />
                            <xs:element name="pnApplPartyId" type="xs:string" />
                            <xs:element name="pnOrgContactPartyId" type="xs:string" />
                            <xs:element name="pnOrgFacilityPartyId" type="xs:string" />
                            <xs:element name="pnOrgPartyId" type="xs:string" />
                            <xs:element name="pvApplAddlFirstName1" type="xs:string" />
                            <xs:element name="pvApplAddlFirstName2" type="xs:string" />
                            <xs:element name="pvApplAddlFirstName3" type="xs:string" />
                            <xs:element name="pvApplAddlSecondName1" type="xs:string" />
                            <xs:element name="pvApplAddlSecondName2" type="xs:string" />
                            <xs:element name="pvApplAddlSecondName3" type="xs:string" />
                            <xs:element name="pvApplAddlSurname1" type="xs:string" />
                            <xs:element name="pvApplAddlSurname2" type="xs:string" />
                            <xs:element name="pvApplAddlSurname3" type="xs:string" />
                            <xs:element name="pvApplBirthDate" type="xs:string" />
                            <xs:element name="pvApplBirthPlaceTxt" type="xs:string" />
                            <xs:element name="pvApplCityNm" type="xs:string" />
                            <xs:element name="pvApplCountryNm" type="xs:string" />
                            <xs:element name="pvApplDriversLicence" type="xs:string" />
                            <xs:element name="pvApplEmailAddress" type="xs:string" />
                            <xs:element name="pvApplFirstName" type="xs:string" />
                            <xs:element name="pvApplGenderTxt" type="xs:string" />
                            <xs:element name="pvApplicationCategory" type="xs:string" />
                            <xs:element name="pvApplicationGuardianSignedYN" type="xs:string" />
                            <xs:element name="pvApplicationIncompleteReason" type="xs:string" />
                            <xs:element name="pvApplicationNonFinRejectRsn" type="xs:string" />
                            <xs:element name="pvApplicationPaymentId" type="xs:string" />
                            <xs:element name="pvApplicationPaymentMethod" type="xs:string" />
                            <xs:element name="pvApplicationSignedDate" type="xs:string" />
                            <xs:element name="pvApplicationSignedYN" type="xs:string" />
                            <xs:element name="pvApplPhoneNumber" type="xs:string" />
                            <xs:element name="pvApplPostalCode" type="xs:string" />
                            <xs:element name="pvApplProvinceNm" type="xs:string" />
                            <xs:element name="pvApplSecondName" type="xs:string" />
                            <xs:element name="pvApplStreetAddress" type="xs:string" />
                            <xs:element name="pvApplSurname" type="xs:string" />
                            <xs:element name="pvDocumentType" type="xs:string" />
                            <xs:element name="pvJurisdictionType" type="xs:string" />
                            <xs:element name="pvOrgFacilityName" type="xs:string" />
                            <xs:element name="pvProcessingStream" type="xs:string" />
                            <xs:element name="pvScheduleType" type="xs:string" />
                            <xs:element name="pvValidationUser" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>