src/dps-registration-api/src/main/resources/dpsRegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="dpsDocumentStatusRegWS"
        targetNamespace="http://dps.rsbc.pssg.gov.bc.ca/DPS_RegistrationServices.wsProvider:dpsDocumentStatusRegWS"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:soapjms="http://www.w3.org/2010/soapjms/"
        xmlns:tns="http://dps.rsbc.pssg.gov.bc.ca/DPS_RegistrationServices.wsProvider:dpsDocumentStatusRegWS"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://dps.rsbc.pssg.gov.bc.ca/DPS_RegistrationServices.wsProvider:dpsDocumentStatusRegWS" xmlns:tns="http://dps.rsbc.pssg.gov.bc.ca/DPS_RegistrationServices.wsProvider:dpsDocumentStatusRegWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="setRegisterPackage" type="tns:setRegisterPackage"/>
            <xsd:element name="setRegisterPackageResponse" type="tns:setRegisterPackageResponse"/>
            <xsd:element name="setRegisterObject" type="tns:setRegisterObject"/>
            <xsd:element name="setRegisterObjectResponse" type="tns:setRegisterObjectResponse"/>
            <xsd:complexType name="setRegisterPackage">
                <xsd:sequence>
                    <xsd:element name="setRegisterPackageRequest" nillable="true" type="tns:setRegisterPackageRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="setRegisterPackageRequest">
                <xsd:sequence>
                    <xsd:element name="BusinessAreaCD" nillable="true" type="tns:BusinessAreaCD"/>
                    <xsd:element minOccurs="0" name="ProgramType" nillable="true" type="tns:ProgramType"/>
                    <xsd:element name="PackageFormatType" type="tns:PackageFormatType"/>
                    <xsd:element name="Filename" nillable="true" type="tns:Filename"/>
                    <xsd:element minOccurs="0" name="Source" nillable="true" type="tns:Source"/>
                    <xsd:element minOccurs="0" name="Recipient" nillable="true" type="tns:Recipient"/>
                    <xsd:element minOccurs="0" name="PageCount" nillable="true" type="tns:PageCount"/>
                    <xsd:element minOccurs="0" name="RecordCount" nillable="true" type="tns:RecordCount"/>
                    <xsd:element name="ReceivedDTM" nillable="true" type="xsd:dateTime"/>
                    <xsd:element name="ImportGUID" nillable="true" type="tns:ImportGUID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="BusinessAreaCD">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="3"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProgramType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="4"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PackageFormatType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Filename">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Source">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Recipient">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PageCount">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="4"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RecordCount">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ImportGUID">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="setRegisterPackageResponse">
                <xsd:sequence>
                    <xsd:element name="setRegisterPackageResponse" nillable="true" type="tns:setRegisterPackageResponse2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="setRegisterPackageResponse2">
                <xsd:sequence>
                    <xsd:element name="ResponseCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResponseMsg" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="setRegisterObject">
                <xsd:sequence>
                    <xsd:element name="setRegisterObjectRequest" nillable="true" type="tns:setRegisterObjectRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="setRegisterObjectRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ContentID" nillable="true" type="tns:ContentID"/>
                    <xsd:element name="Type" nillable="true" type="tns:Type"/>
                    <xsd:element minOccurs="0" name="CompletionDTM" nillable="true" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="Package" nillable="true" type="tns:Package"/>
                    <xsd:element minOccurs="0" name="ClientNum" nillable="true" type="tns:ClientNum"/>
                    <xsd:element minOccurs="0" name="ClientName" nillable="true" type="tns:ClientName"/>
                    <xsd:element minOccurs="0" name="ActionSystem" nillable="true" type="tns:ActionSystem"/>
                    <xsd:element minOccurs="0" name="ActionUser" nillable="true" type="tns:ActionUser"/>
                    <xsd:element minOccurs="0" name="ActionMethod" nillable="true" type="tns:ActionMethod"/>
                    <xsd:element minOccurs="0" name="ImageUpload" nillable="true" type="tns:ImageUpload"/>
                    <xsd:element minOccurs="0" name="CaseUpdate" nillable="true" type="tns:CaseUpdate"/>
                    <xsd:element minOccurs="0" name="CaseResult" nillable="true" type="tns:CaseResult"/>
                    <xsd:element name="PackageFormatType" nillable="true" type="tns:PackageFormatType2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ContentID">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Type">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Package">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ClientNum">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ClientName">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ActionSystem">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ActionUser">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="100"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ActionMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ImageUpload">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaseUpdate">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CaseResult">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PackageFormatType2">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="5"/>
                    <xsd:whiteSpace value="preserve"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="setRegisterObjectResponse">
                <xsd:sequence>
                    <xsd:element name="setRegisterObjectResponse" nillable="true" type="tns:setRegisterObjectResponse2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="setRegisterObjectResponse2">
                <xsd:sequence>
                    <xsd:element name="ResponseCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResponseMsg" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="dpsDocumentStatusRegWS_PortType_setRegisterObjectResponse">
        <wsdl:part name="parameters" element="tns:setRegisterObjectResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dpsDocumentStatusRegWS_PortType_setRegisterObject">
        <wsdl:part name="parameters" element="tns:setRegisterObject">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dpsDocumentStatusRegWS_PortType_setRegisterPackageResponse">
        <wsdl:part name="parameters" element="tns:setRegisterPackageResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="dpsDocumentStatusRegWS_PortType_setRegisterPackage">
        <wsdl:part name="parameters" element="tns:setRegisterPackage">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="dpsDocumentStatusRegWS_PortType">
        <wsdl:operation name="setRegisterObject">
            <wsdl:input message="tns:dpsDocumentStatusRegWS_PortType_setRegisterObject">
            </wsdl:input>
            <wsdl:output message="tns:dpsDocumentStatusRegWS_PortType_setRegisterObjectResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRegisterPackage">
            <wsdl:input message="tns:dpsDocumentStatusRegWS_PortType_setRegisterPackage">
            </wsdl:input>
            <wsdl:output message="tns:dpsDocumentStatusRegWS_PortType_setRegisterPackageResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Binder" type="tns:dpsDocumentStatusRegWS_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setRegisterObject">
            <soap:operation soapAction="DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Binder_setRegisterObject" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setRegisterPackage">
            <soap:operation soapAction="DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Binder_setRegisterPackage" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DPS_RegistrationServices.wsProvider.dpsDocumentStatusRegWS">
        <wsdl:port name="DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Port" binding="tns:DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/DPS_RegistrationServices.wsProvider.dpsDocumentStatusRegWS/DPS_RegistrationServices_wsProvider_dpsDocumentStatusRegWS_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>