src/vips-notification-worker/src/main/resources/kofax.vips.metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BatchData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="BatchID"/>
                            <xs:element type="xs:string" name="FaxReceivedDate"/>
                            <xs:element type="xs:string" name="ImportDate"/>
                            <xs:element type="xs:string" name="ImportID"/>
                            <xs:element type="xs:string" name="OriginatingNumber"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DocumentData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="externalFile"/>
                            <xs:element type="xs:string" name="adpNumber"/>
                            <xs:element type="xs:string" name="documentPages"/>
                            <xs:element type="xs:string" name="dType"/>
                            <xs:element type="xs:string" name="irpNumber"/>
                            <xs:element type="xs:string" name="policeFileNo"/>
                            <xs:element type="xs:string" name="ulNumber"/>
                            <xs:element type="xs:string" name="validationUser"/>
                            <xs:element type="xs:string" name="vinoiNumber"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>